name = "grepbase"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

# D1 Database binding
[[d1_databases]]
binding = "grepbase_db"
database_name = "grepbase-db"
database_id = "326233af-b937-4c0b-ab47-7349f251b961"
migrations_dir = "drizzle"
